<img class="img1" src="https://github.githubassets.com/images/modules/logos_page/Octocat.png">
     <h1 style="text-align: center" class="text-danger">Github User Search</h1>
     <h4>Program to seach for github username and their Repositories</h4>
    
    
     <div class="mt-5 search">
      <center> <label class="h3 text-danger">User Name</label>
       <input type="text" [(ngModel)]="userName"> 
       <button (click)="search()" class="btn btn-primary">Search</button>
      </center>
      </div>
    <form class="h4 form">
          <img src="{{report.avatar_url}}" alt="" class="justify-content-center img-fluid"> 
          <p>Username:     <span class="text-info"> {{report.login}}</span></p>
          <p>Repositories:     <span class="text-info"> {{report.public_repos}}</span></p>
          <p >Followers:       <span class="text-info"> {{report.followers}}</span></p>
          <p >Following:       <span class="text-info"> {{report.following}}</span></p>
          <p>Bio :       <span class="text-info"> {{report.bio}}</span></p>
       <p>Visit:<a href="{{report.html_url}}"><button class="btn btn-primary">{{report.html_url}}</button></a></p>
      </form>


