
<div class="container">
  <ng-progress></ng-progress>
  <h1>Github</h1>

  <!-- <div class="row">
    <blockquote class="blockquote text-center">
      <! <img src="{{user.image}}" alt=""> -->
      <!-- <p class="mb-0">Username:{{user.username}}</p>
      <footer class="blockquote-footer"><cite>Repositories:{{user.repositories}}</cite></footer>
      <p class="mb-0">Followers : {{user.followers}}</p>
      <p class="mb-0">Following : {{user.following}}</p>
      <p class="mb-0">Created : {{user.creation}}</p>
    </blockquote> -->

  </div>
  <div class="jumbotron">
      <h1 class="display-4 text-center">About Goals App</h1>
      <hr class="my-4">
      <p class="lead text-center">An Angular app that let's you create your goals and gives you quotes from the world of computing!</p>
    </div>
